:root{
	--gw: 940px; --gg: 20px; --gc: 12;
	--x: auto; --y: auto; --w: 1; --h: 1;
}
.basegrid{
	--t: calc((var(--gw) + var(--gg)) / var(--gc) - var(--gg));
	width: var(--gw);
	display: grid;
	grid-template-columns: repeat(var(--gc), var(--t));
	grid-gap: var(--gg);
	grid-auto-flow: row dense;
}
.basegrid>div{
	background: #eee;
  grid-column: var(--x) / span var(--w);
	grid-row: var(--y) / span var(--h);
}
@media screen and (min-width: 1000px) {
	.basegrid.fixed{
		grid-auto-rows: var(--t);
	}
}
@media screen and (max-width: 1000px) {
	.basegrid{
		--w: 100vw !important;
		grid-auto-rows: none;
	}
}
@media screen and (max-width: 600px) {
	.basegrid{
		display: block;
		margin: 0;
	}
	.tile{
		margin: var(--g);
	}
}